body {
  font-family: var(--ff-1);
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(var(--primary));
}

h1,
h2,
h3 {
  font-family: var(--ff-1);
}

h1,
.h1 {
  font-size: var(--fs-800);
  font-weight: 700;
}

h2,
.h2 {
  font-size: var(--fs-700);
  font-weight: 600;
}

.sp-container-full {
  display: grid;
  height: 100%;
  &--centered {
    place-items: center;
  }
}

.sp-container {
  height: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-block: 2rem;
  &--full {
    display: grid;
  }
}

#app {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100dvh;
  background-color: hsl(var(--neutral-100));
}

a {
  text-decoration: none;
  color: hsl(var(--accent));
}
