body {
  font-family: var(--ff-1);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--ff-2);
}

h1,
.h1 {
  font-size: var(--fs-800);
  font-weight: 700;
}

h2,
.h2 {
  font-size: var(--fs-700);
  font-weight: 600;
}

.sp-container-full-centered {
  display: grid;
  place-items: center;
  height: 100%;
}

.sp-container {
  height: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-block: 2rem;
}

#app {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
  background-color: hsl(var(--neutral-100));
}
