@use './mixins' as m;

:root {
  /* color */
  --accent: 130deg 80% 67%;
  --accent-600: 130deg 81% 45%;
  --primary-400: 225deg 34% 35%;
  --primary: 225deg 34% 16%;
  --primary-contrast: 0deg 0% 100%;
  --neutral-100: 0deg 0% 96%;
  --neutral-200: 135deg 15% 95%;
  --neutral-300: 0deg 0% 87%;
  --neutral-500: 300deg 2% 48%;

  --error: 355, 66%, 45%;

  /* Font families */

  --ff-1: 'Cabin';
  --ff-2: 'Noto Serif KR';

  /* font size */

  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-550: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-750: 2.25rem;
  --fs-800: 3rem;

  @include m.sd-down {
    --fs-400: 0.875rem;
    --fs-500: 1rem;
    --fs-550: 1.125rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-750: 2rem;
    --fs-800: 2.125rem;
  }

  /* border radius */
  --rounded-300: 4px;
  --rounded-500: 8px;
  --rounded-600: 10px;
  --rounded-700: 12px;
}
