@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --accent: 130deg 80% 67%;
    --primary: 294deg 34% 12%;
    --neutral-200: 135deg 15% 95%;
    --neutral-500: 300deg 2% 48%;
    --accent-600: 130deg 81% 45%;
    --primary-contrast: 0deg 0% 100%;
    --primary-400: 294deg 34% 35%;
    --neutral-100: 0deg 0% 96%;
    --neutral-300: 0deg 0% 87%;
  }
}
